// Navigation code here
.navigation-bar{
   
     
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:@wild-sand;
    border-bottom: 1px solid @sea-shell;
    padding: 1.5rem;


    a{
        .nav-link-style();
        
        
       
    }

    h1{
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
    }
}


